<div class="box is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered">
  <section class="hero my-3">
    <h1 class="title is-3 has-text-link-dark">Password Generator</h1>
  </section>
  
  <!-- Text input to take password length -->
  <div class="field my-5">
      <label class="label has-text-link">Enter Length</label>
      <div class="columns">
        <div class="column">
          <div class="control">
            <input class="input" (input)="getLength($event)" />
          </div>
        </div>
      </div>
      
   
   
  </div>
  
  <!-- Checkbox  to select letters to generate-->
  <div class="field">
    <div class="control">
      <label class="checkbox">Use Letters
        <input type="checkbox" (change)="onChangeLetters()"/>
      </label>
    </div>
  </div>
  
  <!-- Checkbox  to select numbers to generate-->
  <div class="field">
    <div class="control">
      <label class="checkbox">Use Numbers
        <input type="checkbox" (change)="onChangeNumbers()"/>
      </label>
    </div>
    
  </div>
  
  <!-- Checkbox  to select symbols to generate-->
  <div class="field">
    <div class="control">
      <label class="checkbox">Use Symbols
        <input type="checkbox" (change)="onChangeSymbols()"/>
      </label>
    </div>
   
  </div>
  
  <!-- Button to generate password -->
  <div class="container my-3">
    <button class="button is-link" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" (click)="onButtonClick()">Generate</button>
  </div>
  
  
  <!-- Text input to display the generated password  -->
  <div class="field my-3">
    <label class="label has-text-link">Your Password</label>
    <div class="columns">
      <div class="column">
        <div class="control">
    <input class="has-text-black-ter input has-text-weight-bold" [value]="password"/>
    </div>
  </div>
</div>
